<div class="top">
  <p>Your question was: <%= @query %><p>
</div>
<div class="wrapper">
  <p>Coach answer: <%= @answer %></p>
</div>
<div class="bottom">
 <%= link_to "Ask a new question >>", ask_path %>
</div>
