<h1>Ask coach Alex</h1>
  <div class="wrapper">
  <form action="/answer" data-turbo="false">
    <input class="form-submit" type="text" name="question" placeholder="Ask a question..." value="<%= params[:question] %>">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
