/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
  margin: 20px;
 }
body h1{
  text-align: center;
  margin: 20px;
}

 .wrapper{
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
 }

.form-submit{
  padding: 10px;
}

.btn-primary{
  padding: 11px 20px;
  background-color: rgb(10, 159, 110);
  border: solid black 1px;
}
.btn-primary:hover{
  background-color: rgb(20, 215, 150);
}
.top{
  text-align: center;
}

.bottom{
  text-align: center;
}
